{% extends "./base_tienda.html" %}
{% block title %}
    Blog | Categoria
{% endblock %}

{% block body %}
    <h1>Agregar Categoria</h1>
    <div class="card">
        <div class="card-body">
            <form action="/blog/registrarCategoria/" method="POST"> {% csrf_token %}
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre de la categoria" required>
                </div>
                <div class="form-gruop">
                    <button type="submit" class="btn btn-success btn-block">Guardar</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}