{% extends "base_tienda.html" %}

{% load static %}

{% block title %}
    Blog | Publicaciones
{% endblock %}

{% block direcciones %}
    <div class="col-lg-10">
        <h2>Blog</h2>
    </div>
    <div class="col-lg-2">
    </div>
{% endblock %}

{% block body %}
    
    <form method="get">
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="input-group m-b">
                    <span class="input-group-prepend">
                        <button type="submit" class="btn btn-primary">Buscar</button> 
                    </span> 
                    <input type="text" id="busqueda" name="busqueda" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" value="{{request.GET.busqueda}}" />
                </div>
            </div>
        </div>
    </form>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview--> 
                {% for n in publicaciones %}
                <div class="post-preview">
                    <a href="/blog/articulo/{{n.id_publicaciones}}">
                        <h2 class="post-title">{{n.titulo}}</h2>
                        <h3 class="post-subtitle">{{n.resumen}}</h3>
                    </a>
                    <p class="post-meta">
                        Posteado por
                        {% for m in usuarios %}
                            {% if m.id_usuario == n.id_usuario %}
                                <a href="/blog/perfil/{{n.id_usuario}}"> {{ user.username }} </a>
                            {% endif %}
                        {% endfor %}
                        {{n.fecha}}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                {% endfor %}
                <!-- Post preview-->
            </div>
        </div>
    </div>
{% endblock %}

