{% extends "./base_tienda.html" %}
{% block title %}
    Blog | Modificar Usuarios
{% endblock %}

{% block body %}
    <h1>Modificar datos de Usuarios</h1>
    <div class="row">
        <div class="table-responsive"></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Nombre </th>
                    <th> Correo </th>
                    <th> Telefono </th>
                    <th> Tipo </th>
                    <th> Acciones </th>
                </tr>
            </thead>
            <tbody>
                {% for n in usuarios %}
                <tr>
                    <td> {{n.first_name}} {{n.last_name}} </td>
                    <td> {{n.email}} </td>
                    <td> {{n.telefono}} </td>
                    <td> {{n.tipo}} </td>
                    <td> 
                        <a href="editarUsuario/{{n.id}}" class="btn btn-warning">Editar</a>
                        <a href="eliminarUsuario/{{n.id}}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}